@charset "utf-8"; /*　*/
@import "../projectset";

//*------------------------------------------------------------------------------*/
//* top.scss
//*------------------------------------------------------------------------------*/

.mainvisual {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	.mainvisual-title {
		font-size: 29rem;
		line-height: 0.885;
		letter-spacing: 0.02em;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.mainvisual-canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}



.works {
	width: 100vw;
	position: relative;
	z-index: 1;
	.works-section {
		margin-top: 200px;
	}
	.works-title {
		font-size: 19.0rem;
		-webkit-text-stroke: 1px $whiteTheme-blue;
		-webkit-text-fill-color: transparent;
		white-space: nowrap;
	}
	.works-list {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	.works-item {
		width: calc((100% - 80px) / 2);
		position: relative;
		&:nth-child(n+3) {
			margin-top: 200px;
		}
	}
	.works-item-head {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.works-item-title {
		font-size: 13.0rem;
		font-weight: 600;
		position: relative;
		&::before {
			content: "01";
			position: absolute;
			top: -30px;
			left: -10px;
			font-size: 1.2rem;
		}
	}
	.works-item-text {
		font-size: 5.4rem;
		text-align: right;
	}
	.works-item-image {
		width: 600px;
		margin: auto;
	}
	.works-item-image-body {
		height: 0;
		padding-top: 66.66666667%;
		background: #000;
	}
}